POSTGRES_DB=sgarav_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5434

PORT=3000
APP_URL=http://localhost:3000
PUBLIC_BASE_URL=http://localhost:3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:CHANGE_ME@localhost:5432/sgarav_db?schema=public&connection_limit=5
DATABASE_CONNECTION_LIMIT=5

JWT_SECRET=sgarav-secret-key
JWT_REFRESH_TOKEN_SECRET=sgarav-secret-key
CENTRAL_AUTH_JWT_SECRET=sgarav-secret-key
LOGIN_SERVICE_JWT_SECRET=sgarav-secret-key
CENTRAL_AUTH_ISSUER=login-service
CENTRAL_AUTH_SYSTEM_CODE=AGUAVIVA
MODULE_SYSTEM_CODE=AGUAVIVA

LOGIN_SERVICE_URL=http://login-service:3000
PUBLIC_LOGIN_SERVICE_URL=http://localhost:3001
